h2, .mdl-textfield__input, .mdl-textfield__label, .mdl-snackbar__text {
  font-family: 'Roboto Slab', serif;
}
.mdl-card {
	max-width: 500px;
	margin: auto;
}
.mdl-card__title, .margin-auto {
	margin: auto;
}