.mdl-card__title-text, .mdl-textfield__input {
  font-family: 'Roboto Slab', serif;
  color: white;
}
.mdl-textfield__label, .mdl-snackbar__text {
  font-family: 'Roboto Slab', serif;
}
.mdl-layout {
	background-color: #673AB7;
}
.mdl-grid {
	margin: 0;
}
.mdl-card {	
	margin: auto;
	background-color: #9575CD;
}
.mdl-card__title, .margin-auto {
	margin: auto;
}
.mdl-list__item, .mdl-card__supporting-text {
	padding: 0px;
}
.mdl-textfield {
	width: 100%;
}
.mdl-textfield__label:after {
	background-color: black;
}
.material-icons {
	color: #673AB7;
}